@media (min-width: 992px) {
    header.masthead {
      margin-top: -125px;
    }
  }

.card {
    background-color: #00000095;

}
.card .card-img-top {
    opacity: .9;
}
.present-video,
.cc_banner-wrapper,
.grecaptcha-badge,
.chat-24 {
    display: none !important;
}